/* CSS RESET */
*{
    margin: 6px;
    padding: 6px;
}
h1{
    color: aqua;
    background-color: black;
}

h2{
    color: white;
    background-color: blueviolet;
    text-align: center;
}

h3{
    color: black;
    background-color: dodgerblue;
    text-align: right;
    text-decoration: underline;
}

#white{
    color: aliceblue;
}