/* CSS RESET */
*{
    padding: 0px;
    margin: 0px;
}

.github{
    margin: 17px 3px 0px 0px;
    vertical-align: middle;
    margin-bottom: 20px;
}

.linkedin{
    margin: 0px 3px 0px 0px;
    vertical-align: middle;
}

.email{
    margin: 0px 3px 0px 0px;
    vertical-align: middle;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}


.snake{
    border: 1px solid black;
    background-color: white;
    color: black;
}

h2{
    margin-top: 15px;
}